@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './colours.scss';
@import './breakpoints.scss';
@import './util.scss';
@import './animations.scss';

@import 'node_modules/include-media/dist/include-media';

body {
    background-color: $white;
    margin: 0;
    font-family: Raleway;
}

header {
    background-color: #1f1f1f;
    box-shadow: 0px 2px 6px -3px #adadad;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25%;
    padding-right: 25%;
    border-bottom: 3px solid darkgrey;
    display: flex;
    margin: 0;
    >h1 {
        font-weight: 300;
    }
}

footer {
    background-color: $black1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid darkgrey;
    color: $white;
}

p {
    font-size: 1.1rem;
}

.hr {
    border: #5a5a5a 1px solid;
}

h1, h2, h3, h4, h5, h6, p, small, li {
    color: $black0;
    margin: 0
}

h1 {
    color: $white;
}

h3 {
    font-weight: 400;
}

article {
    margin-top: 20px;
}

.layout {
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(circle, #ffffff 0%, #00000014 100%);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

.cookies {
    position: fixed;
    bottom: 0;
    top: unset;
    margin: 10px;
    svg {
        color: white;
        margin-left: 10px;
    }
    >div {
        display: flex;
        align-items: center;
        border: 2px solid white;
        padding: 10px;
        background-color: rgba(10, 10, 41, .70);
        margin-left: 20%;
        margin-right: 20%;
        margin: 5px;
        width: 100%;
    }
}

.line {
    border: 3px solid $white;
    margin-top: 25px;
}

.nav {
    width: 50%;
    min-width: 150px;
    margin-left: 20px;
}

.nav-item {
    letter-spacing: 2px;
    padding-top: 10px;
    font-size: 1.17em;
    font-weight: 500;
    min-width: 120px;
    list-style: none;
    padding: 5px; 
    padding-left: 0; 
    margin-bottom: 15px;
    border-bottom: 2px solid $white;
    color: $white;
    cursor: pointer;
    &.disabled {
        border-bottom-color: #191949;
        color: #191949;
    }
}

.section-head {
    margin-top: 40px;
    width: 100%;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: $black1;
    box-shadow: 0px 2px 6px -3px #adadad;
    border-bottom: 3px solid darkgrey;
    color: white;
    > h3 {
        margin-left: 10px;
        color: white;
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
}

.section-subhead {
    margin-top: 20px;
}

.icon-btn :hover {
    cursor: pointer;
}

.icon-nav {
    margin-right: 10px;
    cursor: pointer;
}

.icon-hero {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.large-emoji {
    font-size: 26px;
}

a {
    color: #26c2ff;
    text-decoration: none;
}

.thumbnail-container {
    width: 100%;
    padding-bottom: 400px;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 30px;
    background-color: white;
    p {
        font-weight: 300;
        font-size: 1.1rem;
    }
    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .thumbnail-image {
        -webkit-box-shadow: 0px 2px 6px -3px #adadad;
        -moz-box-shadow: 0px 2px 6px -3px #adadad;
        box-shadow: 0px 2px 6px -3px #adadad;
        height: 180px;
        border: 4px solid #1f1f1f;
        margin-bottom: 15px;
        background-color: #f1f1f1;
        width: 325px;
        flex-grow: 1;
    }
    .thumbnail-details {
        padding: 5px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 10, 27, 0.44);
    padding: 30px;
    min-height: 250px;
    max-width: 750px;

    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 35px -20px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 35px -20px rgba(255,255,255,1);
    box-shadow: 0px 0px 35px -20px rgba(255,255,255,1);
    p {
        text-shadow: 1px 1px $black1;
        margin-top: 15px;
        color: $white;
    }
    ul > a:nth-child(5) > li {
        margin-bottom: 0;
    }
    .text-block {
        margin-right: 20px;
        margin-left: 20px;
    }
}


.avatar {
    display: flex;
    justify-self: center;
    margin-bottom: 0;
    min-width: 100px;
    border-radius: 100%;
    position: relative;
    z-index: -1;
    margin-right: 10;
}

.hero {
    height: 100vh;
    color: $white;
    &::before {
        opacity: 0.8 !important;
        box-shadow: inset 0px 0px 150px black;
        background-attachment: fixed;
    }
}

.heading {
    text-shadow: 0px 5px $black1;
    font-size: 2.75rem;
    letter-spacing: 2px;
}

.aboutTheAuthor {
    border: 2px solid $black1;
    padding: 10px;
    .heading {
        font-size: 1.5rem;
    }
    .nav {
        margin: 0;
    }
    .text-block {
        margin-right: 20px;
    }
    .heading {
        text-shadow: none;
        font-weight: 300;
    }
    p {
        text-shadow: none;
        margin-top: 10px;
    }
}

.canvas-hero {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.99;
    height: 100vh;
    color: #fff;
    display: block;
}

.canvas-hero::before {
    z-index: -100;
    opacity: 1;
}

.canvas-hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
} 

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.project-info {
    height: 100px;
    max-width: 300px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0px 2px 6px -3px #adadad;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(115deg, #0919d48f 0%, #e62b0d8c 100%);
    > h2 {
        margin-bottom: 5px;
        color: white;
        font-weight: 300;
    }
    > .cta {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        padding: 10px;
    }
}

.stats {
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background: linear-gradient(115deg, #0919d48f 0%, #e62b0d8c 100%);
    box-shadow: 0px 2px 9px -3px #000000;

    h3 {
        color: white;
        letter-spacing: 2px;
    }
}

@include media("screen", "<=phone") {
    .thumbnail {
        width: 100%;
    }
    .icon-hero {
        display: none;
    }
    .nav {
        margin-top: 30px;
        margin-right: 20px;
        width: 100%;
    }
    .cookies {
        bottom: unset;
        top: 0;
    }
    .cookies > div {
        margin: 0;
    }
    .bio {
        margin-top: 0;
        margin: 10px;
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
    .bio > div {
        flex-wrap: wrap;
        justify-content: center;
        > div > p {
            padding-top: 10px;
        }
    }
    header {
        padding-left: 20px;
    }
    .content {
        padding: 10px;
        padding-top: 15px;
    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@include media(">=tablet", "<desktop") {
    .hero > div {
        margin-left: 20%;
        margin-right: 20%;
    }
    .thumbnail {
        width: 100%;
    }
}


@include media(">phone", "<tablet") {
    .thumbnail {
        width: 100%;
    }
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@include media("screen", ">desktop") {
    .thumbnail {
        > .thumbnail-details {
            margin-left: 20px;
            min-width: 200px;
            width: 200px;
        }
    }
}

@include media("screen", ">=desktop") {
    .hero > div {
        margin-left: 20%;
        margin-right: 20%;
    }
}
