@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './colours.scss';
@import './breakpoints.scss';
@import './util.scss';

@import 'node_modules/include-media/dist/include-media';

body {
    background-color: $white;
    margin: 0;
}

header {
    background-color: $black1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

main {
    margin-top: 55px;
    border: 1px solid black;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6, p, small {
    font-family: Raleway;
    color: $black0;
    margin: 0
}

h1 {
    color: $white;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 10px;
}

p {
    color: $black0;    
}

.container {
    padding: 20px;
    border: 2px solid $black1;
}

.thumbnail {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    -webkit-box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
}

@include media("screen", "<=phone") {
    .thumbnail {
        width: 100%;
        height: 300px;
    }
}

@include media(">=tablet", "<desktop") {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@include media("screen", ">=desktop") {
    main {
        margin-left: 20%;
        margin-right: 20%;
    }
}
